<%= stylesheet_link_tag 'registrations/new', media: 'all' %>

<div class='registeration-cont'>
  <div class='sign-up-header'>
 
<h2>Log In</h2>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-inp' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-inp' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: 'form-checkbox'%>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log In", class: 'submit-btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
